<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>{{name}}</h2>
    <table border="3">
        <tr>
            <th>Phone</th>
            <th>Address</th>
            <th>Gender</th>
        </tr>
        <tr>
            
            <td>{{ detail.ph }}</td>
            <td>{{ detail.add }}</td>
            <td>{{ detail.gen }}</td>
        </tr>
    </table>
    <a href="http://127.0.0.1:5000/students">back to list</a>
</body>

</html>